# Google Service Account (depuis Google Cloud Console)
GOOGLE_CLIENT_EMAIL=portfolio-drive@mathieu-co-drive.iam.gserviceaccount.com
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nVOTRE_CLÉ_PRIVÉE\n-----END PRIVATE KEY-----\n"

# ID du dossier racine Google Drive (dossier "PROJET PORTFOLIO")
GOOGLE_DRIVE_ROOT_ID=1JO6Rqokunhcxv91Id3uzm8qsnFkiCv9G

# URL publique du site
NEXT_PUBLIC_SITE_URL=https://portfolio.mathieu-co.com
